@import 'colors.css';
@import 'fonts.css';
@import 'user-select.css';

html{
    font-size: 30px;
    height: 100vh;
    overflow: hidden;
}
 /* width */
::-webkit-scrollbar {
width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
background: var(--global-grey);
padding-top: 2em;
/* border-radius: 1em; */
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #c4c4c4;
transition: background-color
/* border-radius: 1em; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #fff;
} 

body{
    background: var(--body-dark);
    color: var(--text-white);
    font-family: 'Poppins regular';
    font-size: 1em;
    margin: 0;
    user-select: none;
    overflow: hidden;
    height: 100%;
}
body:hover{
    cursor: default;
}
.button{
    outline: none;
    font-family: 'Poppins semibold';
    font-size: 0.7em;
    padding: 1em 1.5em;
    // height: 2em;
    /* width: 10em; */
    border: none;
    box-shadow: .1em .1em .3em 0 rgba(0, 0, 0, 0.4);
    border-radius: 2em;
    color: var(--text-black);
    background: var(--text-white);
    transition: transform .15s ease, background .2s ease;
    cursor: pointer;

}
.button:hover{
    font-family: 'Poppins medium';
    transform: scale(1.05);
    background: var(--button-purple);
    color: var(--text-white);
}
.button:active{
    font-family: 'Poppins medium';
    transform: scale(.98);
    background: var(--button-purple);
    color: var(--text-white);
}
.button.accept {
    background-color: var(--green-accept);
    color: var(--text-white);
    font-family: 'Poppins medium';
}
.button.cancel {
    background-color: var(--red-cancel);
    color: var(--text-white);
    font-family: 'Poppins medium';
}
.button.thin {
    padding: .2em 2em;
}
.button.disabled {
    background-color: #111;
    color: var(--text-white);
    pointer-events: none;
}
.dev-border-w{
    border: 1px solid white;
}
.dev-border-b{
    border: 1px solid black;
}

.link-button {
    color: var(--text-white);
    cursor: pointer;
    text-decoration: underline;
    margin: 0 .3em;
}

.icon {
    width: 1em;
    height: 1em;
    transition: transform .1s ease;
}
.icon:hover {
    transform: scale(1.25);
    cursor: pointer;
}