@import 'variables.scss';
@import 'fonts.css';
@import 'user-select.css';

html{
    font-size: 30px;
    height: var(--max-container-height);
    overflow: hidden;
}
 /* width */
::-webkit-scrollbar {
width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
background: var(--global-grey);
padding-top: 2em;
/* border-radius: 1em; */
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #c4c4c4;
transition: background-color
/* border-radius: 1em; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #fff;
}

#title-bar {
    -webkit-app-region: drag;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-white);
    padding: 0 10px;
}

#title-bar .title {
    font-size: 14px;
}
#title-bar .title-bar-buttons-container {
    display: flex;
    -webkit-app-region: no-drag;
}
#title-bar .bar-btn {
    color: var(--text-white);
    outline: 0;
    border: 0;
    background-color: transparent;
    padding: 0;
    margin: 5px;
    display: inline-block;
}

#title-bar .title-bar-buttons-container .bar-btn {
    display: inline-block;
    -webkit-app-region: no-drag;
    height: 15px;
    width: 15px;
    margin: 7.5px 6px;
    border-radius: 50%;
    overflow: hidden;
}

#title-bar .title-bar-buttons-container .bar-btn.inactive {
    background-color: #cdcdcd;
}

#title-bar .title-bar-buttons-container .bar-btn:nth-child(2n) {
    order: -1;
}

#title-bar .title-bar-buttons-container .bar-btn:not(.inactive) .window-icon {
    height: 100%;
    width: 100%;
    background-color: transparent;
    -webkit-mask-size: 100% !important;
    mask-size: 100% !important;
}

#title-bar .bar-btn:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

#title-bar .title-bar-buttons-container .bar-btn:not(.inactive):first-child {
    background-color: #febc28;
}

#title-bar .title-bar-buttons-container .bar-btn:not(.inactive):first-child:hover {
    background-color: #feb30a;
}

#title-bar .title-bar-buttons-container .bar-btn:not(.inactive):nth-child(2n) {
    background-color: #01cc4e;
}

#title-bar .title-bar-buttons-container .bar-btn:not(.inactive):nth-child(2n):hover {
    background-color: #01ae42;
}

#title-bar .title-bar-buttons-container .bar-btn:not(.inactive).button-close {
    background-color: #ff5b5d;
}

#title-bar .title-bar-buttons-container .bar-btn:not(.inactive).button-close:hover {
    background-color: #ff3c3f;
}

#title-bar .button-close .mask {
    -webkit-mask: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z' fill='%23000'/%3E%3C/svg%3E") no-repeat 50% 50%;
    mask: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z' fill='%23000'/%3E%3C/svg%3E") no-repeat 50% 50%;
}

#title-bar .button-maximize .mask {
    -webkit-mask: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.17,12L15,8.83L16.41,7.41L21,12L16.41,16.58L15,15.17L18.17,12M5.83,12L9,15.17L7.59,16.59L3,12L7.59,7.42L9,8.83L5.83,12Z' fill='%23000'/%3E%3C/svg%3E") no-repeat 50% 50%;
    mask: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.17,12L15,8.83L16.41,7.41L21,12L16.41,16.58L15,15.17L18.17,12M5.83,12L9,15.17L7.59,16.59L3,12L7.59,7.42L9,8.83L5.83,12Z' fill='%23000'/%3E%3C/svg%3E") no-repeat 50% 50%;
    transform: rotate(-45deg);
}

#title-bar .button-unmaximize .mask {
    -webkit-mask: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.41,7.41L10,12L5.41,16.59L4,15.17L7.17,12L4,8.83L5.41,7.41M18.59,16.59L14,12L18.59,7.42L20,8.83L16.83,12L20,15.17L18.59,16.59Z' fill='%23000'/%3E%3C/svg%3E") no-repeat 50% 50%;
    mask: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.41,7.41L10,12L5.41,16.59L4,15.17L7.17,12L4,8.83L5.41,7.41M18.59,16.59L14,12L18.59,7.42L20,8.83L16.83,12L20,15.17L18.59,16.59Z' fill='%23000'/%3E%3C/svg%3E") no-repeat 50% 50%;
    transform: rotate(-45deg);
}

#title-bar .button-minimize .mask {
    -webkit-mask: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19,13H5V11H19V13Z' fill='%23000'/%3E%3C/svg%3E") no-repeat 50% 50%;
    mask: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19,13H5V11H19V13Z' fill='%23000'/%3E%3C/svg%3E") no-repeat 50% 50%;
}

body{
    background: var(--body-dark);
    color: var(--text-white);
    font-family: 'Poppins regular';
    font-size: 1em;
    margin: 0;
    user-select: none;
    overflow: hidden;
    height: 100%;
}
body:hover{
    cursor: default;
}
.button{
    outline: none;
    font-family: 'Poppins semibold';
    font-size: 0.7em;
    padding: 1em 1.5em;
    text-align: center;
    // height: 2em;
    /* width: 10em; */
    border: none;
    box-shadow: .1em .1em .3em 0 rgba(0, 0, 0, 0.4);
    border-radius: 2em;
    color: var(--text-black);
    background: var(--text-white);
    transition: transform .15s ease, background .2s ease;
    cursor: pointer;

}
.button:hover{
    font-family: 'Poppins medium';
    transform: scale(1.05);
    background: var(--button-purple);
    color: var(--text-white);
}
.button:active{
    font-family: 'Poppins medium';
    transform: scale(.98);
    background: var(--button-purple);
    color: var(--text-white);
}
.button.accept {
    background-color: var(--green-accept);
    color: var(--text-white);
    font-family: 'Poppins medium';
}
.button.cancel {
    background-color: var(--red-cancel);
    color: var(--text-white);
    font-family: 'Poppins medium';
}
.button.slim {
    padding: .2em 2em;
}
.button.disabled {
    background-color: #111;
    color: var(--text-white);
    pointer-events: none;
}
.dev-border-w{
    border: 1px solid white;
}
.dev-border-b{
    border: 1px solid black;
}

.link-button {
    color: var(--text-white);
    cursor: pointer;
    text-decoration: underline;
    margin: 0 .3em;
}

.icon {
    width: 1em;
    height: 1em;
    transition: transform .1s ease;
}
.icon:hover {
    transform: scale(1.25);
    cursor: pointer;
}
.std-input {
    display: block;
    margin: 0;
    font-size: 1em;
    outline: none;
    width: 100%;
    font-family: 'Poppins black';
    text-align: center;
    border: none;
    color: white;
    background: none;
    transition: transform .15s ease, background .2s ease;      
}
.input-light {
    display: block;
    margin: 0;
    font-size: 1em;
    outline: none;
    width: 100%;
    font-family: 'Poppins Light';
    text-align: left;
    border: none;
    color: white;
    background: none;
    transition: transform .15s ease, background .2s ease;
    padding: .25em;
}