@import url('./fonts.css');
@import url('./user-select.css');

html{
    font-size: 30px;
}
body{
    background: #151515;
    color: #ccc;
    font-family: 'Poppins regular';
    font-size: 1rem;
    margin: 0;
    user-select: none;
}
body:hover{
    cursor: default;
}
.button{
    outline: none;
    font-family: 'Poppins medium';
    font-size: 0.7rem;
    padding: 0 1rem;
    height: 2rem;
    /* width: 10rem; */
    border: none;
    border-radius: 2rem;
    background: #fff;
    transition: transform .15s ease, background .2s ease;
}
.button:hover{
    cursor: pointer;
    transform: scale(1.05);
    background: #9900cc;
    color: #fff;
}
.dev-border-w{
    border: 1px solid white;
}
.dev-border-b{
    border: 1px solid black;
}


.icon {
    width: 1rem;
    height: 1rem;
    transition: transform .1s ease;
}
.icon:hover {
    transform: scale(1.25);
    cursor: pointer;
}