.df {
    display: flex;
}
.fldc {
    flex-direction: column;
}
.global-center {
    align-items: center;
    justify-content: center;
}
.jucc {
    justify-content: center;
}
.jucb {
    justify-content: space-between;
}
.juce {
    justify-content: space-evenly;
}
.h100 {
    height: 100%;
}
.w100 {
    width: 100%;
}
.alic {
    align-items: center;
}

.thin {
    font-family: "Poppins Thin";
}
.light {
    font-family: "Poppins Light";
}
.regular {
    font-family: "Poppins Regular";
}
.bold {
    font-family: "Poppins Bold";
}
.semibold {
    font-family: "Poppins SemiBold";
}

.d-none {
    display: none;
}

.box-shadow {
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.4);
}