/* GLOBAL */
#title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-white);
  padding: 0;
  left: 0;
}

/* MACOS */
#title-bar.mac .title {
  font-size: 14px;
}

#title-bar.mac .title-bar-buttons-container {
  display: flex;
  flex-direction: row-reverse;
  margin-left: 4px;
}

#title-bar.mac .title-bar-buttons-container .bar-btn {
  outline: 0;
  border: 0;
  background-color: transparent;
  padding: 0;
  margin: 5px;

  display: inline-block;
  height: 12px;
  width: 12px;
  margin: 7.5px 4px;
  border-radius: 50%;
  overflow: hidden;
}

#title-bar.mac .title-bar-buttons-container .bar-btn .mask {
  height: 100%;
  width: 100%;
  background-color: transparent;
  -webkit-mask-size: 100% !important;
  mask-size: 100% !important;
}

#title-bar .title-bar-buttons-container .bar-btn,
#title-bar .title-bar-buttons-container .bar-btn .mask {
  transition: background-color var(--ts-g);
}

#title-bar.mac .title-bar-buttons-container .bar-btn.inactive {
  background-color: #cdcdcd;
}

#title-bar.mac .title-bar-buttons-container .bar-btn:nth-child(2n) {
  order: -1;
}

#title-bar.mac .title-bar-buttons-container:hover .mask {
  background-color: rgba(0, 0, 0, 0.4);
}

#title-bar.mac .title-bar-buttons-container .bar-btn:not(.inactive):first-child {
  background-color: #febc28;
}

#title-bar.mac .title-bar-buttons-container .bar-btn:not(.inactive):first-child:hover {
  background-color: #feb30a;
}

#title-bar.mac .title-bar-buttons-container .bar-btn:not(.inactive):nth-child(2n) {
  background-color: #01cc4e;
}

#title-bar.mac .title-bar-buttons-container .bar-btn:not(.inactive):nth-child(2n):hover {
  background-color: #01ae42;
}

#title-bar.mac .title-bar-buttons-container .bar-btn:not(.inactive).button-close {
  background-color: #ff5b5d;
}

#title-bar.mac .title-bar-buttons-container .bar-btn:not(.inactive).button-close:hover {
  background-color: #ff3c3f;
}

#title-bar.mac .button-close .mask {
  -webkit-mask: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z' fill='%23000'/%3E%3C/svg%3E") no-repeat 50% 50%;
  mask: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z' fill='%23000'/%3E%3C/svg%3E") no-repeat 50% 50%;
}

#title-bar.mac .button-maximize .mask {
  -webkit-mask: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.17,12L15,8.83L16.41,7.41L21,12L16.41,16.58L15,15.17L18.17,12M5.83,12L9,15.17L7.59,16.59L3,12L7.59,7.42L9,8.83L5.83,12Z' fill='%23000'/%3E%3C/svg%3E") no-repeat 50% 50%;
  mask: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.17,12L15,8.83L16.41,7.41L21,12L16.41,16.58L15,15.17L18.17,12M5.83,12L9,15.17L7.59,16.59L3,12L7.59,7.42L9,8.83L5.83,12Z' fill='%23000'/%3E%3C/svg%3E") no-repeat 50% 50%;
  transform: rotate(-45deg);
}

#title-bar.mac .button-unmaximize .mask {
  -webkit-mask: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.41,7.41L10,12L5.41,16.59L4,15.17L7.17,12L4,8.83L5.41,7.41M18.59,16.59L14,12L18.59,7.42L20,8.83L16.83,12L20,15.17L18.59,16.59Z' fill='%23000'/%3E%3C/svg%3E") no-repeat 50% 50%;
  mask: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.41,7.41L10,12L5.41,16.59L4,15.17L7.17,12L4,8.83L5.41,7.41M18.59,16.59L14,12L18.59,7.42L20,8.83L16.83,12L20,15.17L18.59,16.59Z' fill='%23000'/%3E%3C/svg%3E") no-repeat 50% 50%;
  transform: rotate(-45deg);
}

#title-bar.mac .button-minimize .mask {
  -webkit-mask: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19,13H5V11H19V13Z' fill='%23000'/%3E%3C/svg%3E") no-repeat 50% 50%;
  mask: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19,13H5V11H19V13Z' fill='%23000'/%3E%3C/svg%3E") no-repeat 50% 50%;
}

/* WINDOWS */
#title-bar.windows {
  padding: 0;
  height: 30px;
  line-height: 30px;
  justify-content: left;
  overflow: visible;
}

#title-bar.windows .title-bar-buttons-container {
  height: 100%;
  display: flex;
}

#title-bar.windows .title-bar-buttons-container .bar-btn {
  display: inline-block;
  height: 100%;
  width: 46px;

  outline: 0;
  border: 0;
  background-color: transparent;
  padding: 0;
}

#title-bar.windows .title-bar-buttons-container .bar-btn .mask {
  height: 100%;
  width: 100%;
  -webkit-mask-size: 23.1% !important;
  mask-size: 23.1% !important;
  background-color: #ccc;
}

#title-bar.windows .title-bar-buttons-container .bar-btn.button-close .mask {
  -webkit-mask: url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.279 5.5L11 10.221l-.779.779L5.5 6.279.779 11 0 10.221 4.721 5.5 0 .779.779 0 5.5 4.721 10.221 0 11 .779 6.279 5.5z' fill='%23000'/%3E%3C/svg%3E") no-repeat 50% 50%;
  mask: url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.279 5.5L11 10.221l-.779.779L5.5 6.279.779 11 0 10.221 4.721 5.5 0 .779.779 0 5.5 4.721 10.221 0 11 .779 6.279 5.5z' fill='%23000'/%3E%3C/svg%3E") no-repeat 50% 50%;
}

#title-bar.windows .title-bar-buttons-container .bar-btn .mask:hover {
  background-color: #ffffff !important;
}

#title-bar.windows .title-bar-buttons-container .bar-btn.button-unmaximize .mask {
  -webkit-mask: url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 8.798H8.798V11H0V2.202h2.202V0H11v8.798zm-3.298-5.5h-6.6v6.6h6.6v-6.6zM9.9 1.1H3.298v1.101h5.5v5.5h1.1v-6.6z' fill='%23000'/%3E%3C/svg%3E") no-repeat 50% 50%;
  mask: url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 8.798H8.798V11H0V2.202h2.202V0H11v8.798zm-3.298-5.5h-6.6v6.6h6.6v-6.6zM9.9 1.1H3.298v1.101h5.5v5.5h1.1v-6.6z' fill='%23000'/%3E%3C/svg%3E") no-repeat 50% 50%;
}

#title-bar.windows .title-bar-buttons-container .bar-btn.button-maximize .mask {
  -webkit-mask: url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 0v11H0V0h11zM9.899 1.101H1.1V9.9h8.8V1.1z' fill='%23000'/%3E%3C/svg%3E") no-repeat 50% 50%;
  mask: url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 0v11H0V0h11zM9.899 1.101H1.1V9.9h8.8V1.1z' fill='%23000'/%3E%3C/svg%3E") no-repeat 50% 50%;
}

#title-bar.windows .title-bar-buttons-container .bar-btn.button-minimize .mask {
  -webkit-mask: url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 4.399V5.5H0V4.399h11z' fill='%23000'/%3E%3C/svg%3E") no-repeat 50% 50%;
  mask: url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 4.399V5.5H0V4.399h11z' fill='%23000'/%3E%3C/svg%3E") no-repeat 50% 50%;
}

#title-bar.windows .title-bar-buttons-container .bar-btn.button-close:hover {
  background-color: rgba(232, 17, 35, 0.9) !important;
}

#title-bar.windows .title-bar-buttons-container .bar-btn.inactive {
  background-color: transparent !important;
}

#title-bar.windows .title-bar-buttons-container .bar-btn.inactive .mask {
  opacity: .4;
}

#title-bar.windows .title-bar-buttons-container .mask {}

#title-bar.windows.light .title-bar-buttons-container .mask {
  background-color: #333333;
}

#title-bar.windows.inactive .title-bar-buttons-container .mask {
  opacity: .7;
}

#title-bar.windows .title-bar-buttons-container .bar-btn:not(.inactive):hover {
  background-color: rgba(255, 255, 255, .1);
}

#title-bar.windows.light .title-bar-buttons-container .bar-btn:not(.inactive):hover {
  background-color: rgba(0, 0, 0, .1);
}