@font-face {
  font-family: 'Poppins ExtraBold';
  src: url('Poppins-ExtraBold.eot'); /* IE9 Compat Modes */
  src: url('Poppins-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Poppins-ExtraBold.woff2') format('woff2'), /* Super Modern Browsers */
       url('Poppins-ExtraBold.woff') format('woff'), /* Pretty Modern Browsers */
       url('Poppins-ExtraBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Poppins-ExtraBold.svg#svgFontName') format('svg'); /* Legacy iOS */
}