<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SongBasket</title>
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
      <!-- Add `node_modules/` to global paths so `require` works properly in development -->
      <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
      </script>
    <% } %>
  </head>
  <body>
    <div id="title-bar" class="mac">
      <div class="title">My Life For The Code</div>
      <div class="title-bar-buttons-container">
          <button id="min-btn" class="bar-btn button-minimize">
            <div class="mask"></div>
          </button>
          <button id="max-btn" class="bar-btn button-maximize">
            <div class="mask"></div>
          </button>
          <button id="close-btn" class="bar-btn button-close">
            <div class="mask"></div>
          </button>
      </div>
    </div>
    <div id="app"></div>
    <!-- Set `__static` path to static files in production -->
    
    <!-- webpack builds are automatically injected -->
  </body>
</html>
